{% extends "projects/base.html" %}

{% block content %}
<h1>{{ page_title }}</h1>

<h2>Your Tasks ({{ tasks.count }})</h2>

<ol class="menu">
    {% if not request.GET.status %}
        <li class="selected">Current</li>
    {% else %}
        <li><a href="?">Current</a></li>
    {% endif %}

    {% ifequal request.GET.status "completed" %}
        <li class="selected">Completed</li>
    {% else %}
        <li><a href="?status=completed">Completed</a></li>
    {% endifequal %}
</ol>

<form action="" method="post">
<p>{{ form.name }} <input type="submit" value="Add Task" /></p>
</form>

{% if tasks %}
    <form action="" method="post">
    {% ifequal request.GET.status "completed" %}
        {% regroup tasks by closed_on_date as tasks_by_date %}
        {% for date in tasks_by_date %}
            <h3>{{ date.grouper|date:"F j, Y" }}</h3>
            <ol>
            {% for task in date.list %}
                <li>{{ task.name }}</li>
            {% endfor %}
            </ol>
        {% endfor %}
    {% else %}
        <p>
            <input type="submit" name="mark_complete" value="Mark Complete" />
            <input type="submit" name="delete" value="Delete" />
        </p>
        <ol>
        {% for task in tasks %}
            <li>
                <input type="checkbox" id="task_{{ task.id }}" name="task" value="{{ task.id }}" />
                <a href="" class="task">{{ task.name }}</a>
                <div class="edit-task">
                    {{ task.form.priority }}
                    <p>{{ task.form.description }}</p>
                    <p>Assign to: {{ task.form.user }}</p>
                    {% if task.assigned_to.count %}
                        <ul>
                        {% for user in task.assigned_to.all %}
                            <li>{{ user.get_full_name }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <p><input type="submit" value="Update" /></p>
                </div>
            </li>
        {% endfor %}
        </ol>
    {% endifequal %}
    </form>
{% endif %}

<h2>Others' Tasks ({{ others_tasks.count }})</h2>

<ol>
{% for task in others_tasks %}
    <li>
        {{ task.name }} - {{ task.assigned_to_names }}
    </li>
{% endfor %}
</ol>
{% endblock %}
