{% extends "projects/base.html" %}

{% block content %}
<h1>{{ page_title }}</h1>

<h2>Your Tasks ({{ tasks.count }})</h2>

<ol class="menu">
    <li class="selected">Current</li>
    <li>Add</li>
    <li>Completed</li>
</ol>

<form action="" method="post">
<p>{{ form.name }} <input type="submit" value="Add Task" /></p>
</form>

{% if tasks %}
    <form action="" method="post">
    <p>
        <input type="submit" name="mark_complete" value="Mark Complete" />
        <input type="submit" name="delete" value="Delete" />
    </p>
    <ol>
    {% for task in tasks %}
        <li>
            <input type="checkbox" id="task_{{ task.id }}" name="task" value="{{ task.id }}" />
            {% ifequal task.status "closed" %}<strike>{% endifequal %}<label for="task_{{ task.id }}">{{ task.name }}</label>{% ifequal task.status "closed" %}</strike>{% endifequal %}
        </li>
    {% endfor %}
    </ol>
    </form>
{% endif %}
{% endblock %}
