{% extends "base.html" %}

{% block content %}
<ol class="menu">
    <li><a href="{% url projects_index %}">Projects</a></li>
</ol>

<h1>{{ project }}</h1>

<div id="milestone-nav">
<ol class="menu">
    <li>Previous</li>
    <li>Current</li>
    <li><a href="#add-milestone" class="add-milestone-toggle">Add</a></li>
    <li>Next</li>
</ol>
</div>

<div id="milestone">
    <div id="add-milestone"{% if form.instance %} class="hidden"{% endif %}>
        <h3>Add Milestone</h3>

        <form action="{% url projects_milestone_create project.id %}" method="post">
        {{ form.as_p }}
        {{ tasks_form.as_p }}
        <p class="submit-row"><input type="submit" class="save" value="Save" /> or 
        <a href="#cancel-add-milestone" class="cancel-form">cancel</a></p>
        </form>
    </div>
</div>
{% endblock %}
